{% extends "redsolutioncms/base.html" %}
{% load i18n %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="">
        <table>
            <tr>
                <th>{% trans 'Domains' %}</th>
                <th>{% trans 'Delete' %}</th>
            </tr>
            {% for form in site_formset.forms %}
                <tr>
                    <td>{{ form.site }}</td>
                    <td class="center">{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
        </table>
        <table class="table-margin">
            <tr>
                <th>{% trans 'Redirects' %}</th>
                <th>{% trans 'Delete' %}</th>
            </tr>
            {% for form in redirect_formset.forms %}
                <tr>
                    <td>{{ form.site }}</td>
                    <td class="center">{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
        </table>
        <div>
            {{ site_formset.management_form }}
            {{ redirect_formset.management_form }}
            <a href="{% url custom %}" class="button-link floated-button">{% trans 'Back' %}</a>
            <input type="submit" value="{% trans 'Done' %}" class="input-bg floated-button" />
        </div>
    </form>
{% endblock %}